//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path : '../node_modules/font-awesome/fonts';
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

/* You can add global styles to this file, and also import other style files */


main{
	padding-top: 50px;
	padding-bottom: 50px;
}

button.btn {
	cursor: pointer;
}

.btn[disabled] {
	cursor: not-allowed;
}

.form-control.ng-invalid.ng-dirty {
	border: 1px solid red;
}